PORT=3000
NODE_ENV=development


DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=control_gastos


JWT_SECRET=
JWT_EXPIRES_IN=25m
GOOGLE_CLIENT_ID=


FRONTEND_URL=http://localhost:4200